<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clipz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    <p class="site-title">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="~/Assets/grass.png" alt="Site Logo" style="height:1.75em; width: 1.75em" />
                        </a>
                    </p>
                    </a>                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Mow Account", "Index", "Mower", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Owner", "Index", "LawnOwner", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Yardwork", "Index", "YardWork", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Lawns", "Index", "Location", null, new { @class = "nav-link" })</li>

                    }
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - William Casteel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>