@model IEnumerable<Clipz.Models.YardWorkModels.YardWorkListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<h1>List of Current types of Yard Work</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YardWorkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YardWorkType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YardWorkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YardWorkType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.YardWorkId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.YardWorkId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.YardWorkId })
        </td>
    </tr>
}

</table>
